{% load static %}
  <link rel="stylesheet" href="{% static 'styles/kiosco.css' %}">

    <div class="card" style="width: 18rem;">
        <div >
          <img src="{{card.image.url}}" alt="" class="card-img-top">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{card.titulo}}</h5>
          <div class="precios">
            <h3 class="precio">${{card.price}} </h3>
            <a href="{% url 'Agregar' card.id %}" class="agregar">Agregar al carrito</a>
          </div>

            <a href="" class="boton">Ver mas</a>
        </div>
    </div>

</body>
</html>

