{% load static %}

<div class="card" style="width: 18rem;">
    <div class="card" style="width: 18rem;">
        <img src="static 'card.png'" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{card.titulo}}</h5>
          <div class="precios">
            <h3 class="precio">${{card.price}} </h3>
            <a href=""><box-icon type='solid' name='cart' class="icono-compra"></box-icon></a>
            </div>

            <a href="" class="boton">Ver mas</a>
        </div>
      </div>
