{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles/kiosco.css' %}">
</head>
<body>
    <div class="card" style="width: 18rem;">
      {% if request.user.is_staff %}
        <a href="{% url 'eliminar_prod' card.id %}" class="card_borrar">Borrar</a>
      {% endif %}
      <div >
        <img src="{{card.image.url}}" alt="" class="card-img-top">
      </div>
      <div class="card-body">
        <h5 class="card-title">{{card.titulo}}</h5>
        <div class="precios">
          <h3 class="precio">${{card.price}} </h3>
          <a href="{% url 'Agregar' card.id %}" class="agregar">Agregar al carrito</a>
          </div>

          <a href="" class="boton">Ver mas</a>
      </div>
  </div>



</body>
</html>
  


