
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

*{
    font-family: 'Rajdhani', sans-serif;
    color: white;

}

body{
    /* background-image: url(13706.jpg); */

    background-size: cover;
    
}


.scrollbar{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #99907D;
    padding: 1rem;
    box-shadow: 0 0 0 100vmax transparent;
    z-index: 10;
    width: 200px;
    height: 100%;
    transition: all 500ms;
    transform: translateX(-100%);
}

a{
    text-decoration: none;
    color: black;
    
}
li{
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: bold;
    font-size: 30px; 
    display: flex;
}


.precio{
    width: max-content;
    font-size: 20px;
    color: black;
}


.precios{
    display: flex;
    gap: 7rem;
    color: black;
}

.boton{
    text-decoration: none;
    color: black;

}

.card-title{
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

.card{
    background: transparent;
    display: flex;
    text-align: center;
    border: 1px solid black;
}



.cartas{
    display: flex;
    gap: 20px;
    justify-content: center;
    
}


.card:hover{
    transform: scale(1.01);
}

.nav_visible{
    transform: translateX(0);
}
.abrir_menu, .cerrar_menu{
    background-color: transparent;
    cursor: pointer;
    border: 0;
}

.icono_barrita{
    color: black;
    width: 50px;
    height: 50px;
}

.icono_close{
    color: black;
    width: 50px;
    height: 20px;

}




.ul_nav{
    display: flex;
}

.home{
    display: flex;
    justify-content: center;
}