@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

*{
    font-family: 'Rajdhani', sans-serif;
}
nav{
    background-color: rgba(224, 217, 217, 0);
    padding: 1rem 2rem;
    display: flex;
}

a{
    text-decoration: none;
    
}
li{
    color: black;
    list-style: none;
    float: left;
    margin-left: 20px;
    padding: 5px;
    font-weight: bold;
    font-size: 20px;    
}

li:hover{
    background-color: rgb(190, 187, 187);
    border-radius: 5px;
    
}

.precio{
    width: max-content;
    font-size: 20px;
    margin-top: 10px;
}


.precios{
    display: flex;
    gap: 7rem;
}

.boton{
    text-decoration: none;
    color: black;
    margin-top: 20px;
}

.card-title{
    text-align: center;
}


