{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/tabla.css' %}">
</head>
<body>
    <a href="{% url 'kiosco' %}"><ion-icon class="flecha" name="chevron-back-outline"></ion-icon></a>
    <div class="tablita">
        <table>
            <th class="titul">Carrito De Productos</th>
            <thead>
                <tr>
                    <th>Titulo </th>
                    <th>Precio </th>
                    <th>Cantidad </th>
                </tr>
            </thead>
            <tbody>
                {% if request.session.carrito.items %}
        
                    {% for key, value in request.session.carrito.items %}
                        <tr>
        
                            <td>{{value.titulo}}</td>
                            
                            <td class="precio">{{value.price}} ARS</td>
                                
                            <td>{{value.cantidad}}
                                <a href="{% url 'Agregar' value.Cards_id %}"></a>
                                <a href="{% url 'Restar' value.Cards_id %}"></a>
                            </td>
                                
                        </tr>
        
                {% endfor %}
    
                {% else %}
        
                    <tr>
                        <div class="SinP">No hay Productos existentes</div>
                    </tr>
        
                {% endif %}
                <tr>
                    <th>Total: </th>
                    <td>{{total_carrito}}</td>
                </tr>
            </tbody>
        </table>

    
        <div><a class="limpiar" href="{% url 'Clean' %}"><ion-icon name="trash-outline"></ion-icon></a></div>
    
    
    </div> 

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    
</body>
</html>

