<div>
    <table>
        <thead>
            <tr>
                <th>Carrito</th>
            </tr>
            <tr>
                <th>Titulo </th>
                <th>Precio </th>
                <th>Cantidad </th>
            </tr>
        </thead>
        <tbody>|
            {% if request.session.carrito.items %}

            {% for key, value in request.session.carrito.items %}
                <tr class="text-center">

                    <td>{{value.titulo}}</td>
                    <td>{{value.cantidad}}</td>
                    <td>
                        
                        <a href="{% url 'carrito:Agregar' value.Cards_id %}"></a>

                        <a href="{% url 'carro:restar' value.Cards_id %}"></a><br>
                        {{value.price}} ARS
                    </td>

                </tr>

            {% endfor %}

        {% else %}

            <tr>
                <div>Sin Productos</div>
            </tr>

        {% endif %}
            <tr>
                <th>Total: </th>
                <td>{{total_carrito}}</td>
            </tr>
        </tbody>
    </table>
    <hr>

    <div><a href=""></a>Limpiar</div>
    <div><a href=""></a>Guardar</div>


</div> 