<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <div class="formbox">
            <div class="formvalue">
                <form method="POST">
                    {% csrf_token %}


                        <h2>Login</h2>
                        <div class="error">
                            {{error}}
                        </div>
                        <div class="inputbox">
                            <ion-icon name="person-outline"></ion-icon>
                            <input type="username" name="username" id="username" required>
                            <label for="">Usuario</label>
                        </div>
                        <div class="inputbox">
                            <input type="text" name="">
                        </div>
                        <button>Crear Producto</button>
                </form>
            </div>
        </div>
    </section>
    
</body>
</html> -->