{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="{% static 'styles/resetview.css' %}">
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <h1>Ingrese su email</h1>
        <p>Ingrese su email para poder enviarle un correo con un link para poder proseguir con el proceso</p>
            {{form}}
        <input type="Submit" name="Enviar Email" class="botonsin">
    </form>
</body>
</html>
